body {
    font-family: system;
    font-size: 1.5em;
    background-color: #080808;
    color: #ffffff;
    text-align: 25%;
    background-image: url("https://images.unsplash.com/photo-1502318217862-aa4e294ba657?ixlib=rb-1.2.1&auto=format&fit=crop&w=658&q=80");
}

ul[class="nav"]{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
       
}

.nav > li {
    display: inline-block;
    width: 200px;
    height: 50px;
    margin-left: 200px;
    
}

.nav > li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.nav > li a:hover {
    background-color: #0bf9ff6e;
    
}

input, select {
    width: 25%;
    padding: 10px 20px;
    margin: 10px 0;
    display: block;
    border: 5px black;
    border-radius: 4px;
    box-sizing: border-box;
    
}

input[type=submit] {
    width: 25.3%;
    background-color: black;
    color: white;
    padding: 15px 20px;
    border: gray;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 2% ;
}

input:nth-of-type(1) {
    margin-left: 5px !important;
    margin-right: 0px !important;
}

input:nth-of-type(2) {
    margin-left: 5px !important;
    margin-right: 0px !important;
}

input:nth-of-type(3) {
    margin-left: 5px !important;
    margin-right: 0px !important;
}

input:nth-of-type(4) {
    margin-left: 5px !important;
    margin-right: 0px !important;
}

input:nth-of-type(5) {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
